/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

code {
    color: #e01a76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
    padding: 10px;
}

footer {
    /* position: absolute;
    bottom: 0;
    width: 100%; */
    right: 0px;
    padding: 10px;
    padding-top: 15px;
    white-space: nowrap;
    flex-shrink: 0;
    float: right;
}

.partsInput {
    max-width: 50pt;
}

@media (max-width: 575.98px) {
    #editTimeSheet .timeSheet-col-sm {
        width: 50px;
    }

    #editTimeSheet .timeSheet-col-xs {
        width: 25px;
    }
}
@media (min-width: 576px) {
    #editTimeSheet .timeSheet-col-sm {
        width: 75px;
    }

    #editTimeSheet .timeSheet-col-xs {
        width: 35px;
    }
}

#editTimeSheet .timeSheet-col-auto {
    width: auto;
}

#editTimeSheet.table {
    table-layout: fixed;
}
